.footer {
	background-color: map-get($colores, gris);
}
.fondo__footer {
	background-color: map-get($colores, grisoscuro);
	color: map-get($colores, blanco);
}
.footer__redes {
	color: map-get($colores, amarillooscuro);
}
