.header__imagen {
	width: $ancho_20 + 10;
	img {
		width: $ancho_100;
	}
}
.header__nav {
	li {
		a {
			font-size: $tamano_fuente - 0.5;
			border-radius: 10px;
			transition: all 1s linear;
			color: map-get($colores, negro);
			margin: 1rem;
			&:hover {
				text-decoration: none;
				background-color: rgba(179, 14, 14, 0.466);
				color: rgb(255, 255, 255);
			}
		}
	}
}