/*estilo main index*/
.portada {
	img {
		width: $ancho_100;
	}
}
.img--medida {
	width: $ancho_100 - 10%;
}
.text {
	font-size: $tamano_fuente + 1;
}
.texto-m {
	font-size: $tamano_fuente + 3.5;
}
.btn-coloryellow {
	background-color: map-get($colores, amarilloclaro);
	font-size: $tamano_fuente - 0.5;
	width: $ancho_20 * 2;
	height: $ancho_100 + $ancho_20;
	border-color: map-get($colores, amarilloclaro);
	border-radius: 10px;
}

/*estilo main punto de venta*/
.mapa {
	width: $ancho_100;
	iframe {
		width: $ancho_100;
	}
}
.btn-colored {
	@extend.btn-coloryellow;
	background: map-get($colores, rojo);
	border-color: map-get($colores, rojo);
	color: white;
}

/*estilo main contacto*/
.main__contacto {
	background: linear-gradient(0deg, rgba(172, 168, 168, 0.41), rgba(172, 168, 168, 0.41)), url(../asset/images/mesa.jpg);
	width: $ancho_100;
	height: $ancho_100;
}
.imgfondo {
	background-color: map-get($colores, blanco);
}