$ancho_100: 100%;
$ancho_20: 20%;
$tamano_fuente: 2rem;

$colores: (
    gris: rgba(172, 168, 168, 1),
    grisoscuro: rgba(123, 120, 120, 1),
    amarilloclaro: rgb(207, 174, 73),
    amarillooscuro: rgba(133, 109, 34, 1),
    rojo: rgb(179, 14, 14),
    blanco: rgb(255, 255, 255),
    negro: rgb(0, 0, 0),
    
)